name: A workflow for DEPLOY
on: 
 push:
  tags:
   - v*

jobs:                                                                                            
  deploy:                                                                                         
    name: deploy                                                                     
    runs-on: ubuntu-latest                                                                       
    steps:
      - name: install ruby 
        run: | 
          sudo apt-get -yqq install ruby-dev && apt-get install git
      - name: install dependencies for dpl
        run: sudo gem install dpl 
      - name: deploy to heroku 
        run:  sudo dpl --provider=heroku --app=infinite-eyrie-56554 --api-key=${{secrets.API_KEY_HERO}}